@{
    ViewData["Title"] = "About Us";
}
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/Batman.jpg" class="img-fluid rounded" alt="Batman Arkham Knight" />
    </div>
    <div class="col-md-6">
        <img src="~/Images/TombRaider.jpg" class="img-thumbnail" alt="Tomb Raider" />
    </div>
</div>
<div class="bg-info p-3">
    <p>This is the Game Review App, where gamers can share their thoughts and experiences on their favorite (or not so favorite) games.</p>
    <p>We are passionate about gaming and strive to provide the best platform for reviews!</p>
</div>

