@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1><i class="fas fa-gamepad" style="font-size:40px;"></i>  Welcome to the Game Review App</h1>
    <p>Discover and review your favorite games!</p>
</div>
<article>
    <div class="row">
        <div class="col-md-6">
            <h3>Top Rated Games</h3>
            <p>See what games other users are loving!</p>
        </div>
        <div class="col-md-6">
            <h3>New Reviews</h3>
            <p>Check out the latest reviews from our community.</p>
            <p class="text-danger">Warning: Some reviews may contain spoilers!</p>
        </div>
    </div>
</article>
